<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- DGBDproject/views/navbar.html -->
<nav class="bg-blue-700 text-white px-6 py-3 shadow mb-6">
    <ul class="flex gap-6 items-center">
        <li><a href="http://localhost/DGBDproject/views/home.html" class="hover:underline">🏠 Accueil</a></li>
        <li><a href="http://localhost/DGBDproject/views/emplacement/index.html" class="hover:underline">📍 Emplacements</a></li>
        <li><a href="http://localhost/DGBDproject/views/elementFrigorifique/index.html" class="hover:underline">🧊 Éléments Frigorifiques</a></li>
        <li><a href="http://localhost/DGBDproject/views/priseTemperature/index.html" class="hover:underline">🌡 prise T°</a></li>
        <li>🛠 Modifier listes</li>

    </ul>
</nav>

</body>
</html>